<div class="advert">
    <div class="advert_left">
        <img src="../.././img/product/1-removebg-preview (15).png" alt="">
    </div>
    <div class="advert_middle">
        <h2>Shop from Davinsoft with Confidence</h2>
        <p>Our Buyer Protection covers your purchase from click to delivery and We offer competitive prices on our 100 million plus product range, Round-the-clock assistance for a smooth shopping experience.</p>
        <button>Shop Now</button>
    </div>
    <div class="advert_right">
        <img src="../.././img/product/1-removebg-preview (17).png" alt="">
    </div>
</div>