<div class="featureCategory">
    <div class="feature">
        <h2>Deals by Category</h2>
        <div class="line"></div>

        <div class="feature-container">
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/10/736857/1.jpg?3944" alt="">
                    <p>Jewelry</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/69/747454/1.jpg?2677" alt="">
                    <p>men's clothing</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/18/120213/1.jpg?2486" alt="">
                    <p>Entertainment</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/38/628507/1.jpg?6033" alt="">
                    <p>Phones</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/18/187497/1.jpg?2350" alt="">
                    <p>Electronics</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/39/246303/1.jpg?0473" alt="">
                    <p>Sneakes</p>
             </a>
            </div>
            
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/53/639813/1.jpg?3967" alt="">
                    <p>Bags</p>
             </a>
            </div>
            
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/83/351128/1.jpg?9319" alt="">
                    <p>Laptops</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/01/179986/1.jpg?9628" alt="">
                    <p>supermarket</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/13/957177/1.jpg?3505" alt="">
                    <p>Beauty</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/33/805287/1.jpg?3250" alt="">
                    <p>Kitchen</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/82/434828/1.jpg?0276" alt="">
                    <p>Sport</p>
             </a>
            </div>
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/16/853066/1.jpg?6838" alt="">
                    <p>Computing</p>
             </a>
            </div>
            
            <div class="feature1">
                <a href="">
                    <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/61/863503/1.jpg?0002" alt="">
                    <p>Furniture</p>
             </a>
            </div>
            
        </div>
        </div>
       
</div>