
<script src="/script/single.js"></script>
<script src="/script/script2.js"></script>
<script src="/script/script.js"></script>


</body>	
<footer>
		
			
				<div class="footer_container">
	
				
					<div class="foot1">
							<h2>About</h2>
							<ul>
								<li><a href="food.html">Home</a></li>
								<li><a href="">Shop</a></li>
								<li><a href="">Blog</a></li>
								<li><a href="/users/login">login</a></li>
								<li><a href="">Features</a></li>
								<li><a href="">Terms & Conditions</a></li>
							</ul>
						</div>
					<div class="foot2">
							<h2>More Info</h2>
							<ul>
								
								
									  <li><a href="">Site Map</a></li>
								<li><a href="">Track My Order</a></li>
								<li><a href="">Privacy Policy</a></li>
								<li><a href="">Authentic Items Policy</a></li>
							</ul>
						</div>
						<div class="foot3">
							   
								
							 
								
								
							   <h2>Buying from us</h2>
							<li><a href=""> Buyer Safety Centre</a></li>
							<li><a href="">FAQs</a></li>
							<li><a href="">    Delivery</a></li>
							<li><a href="">Return Policy</a></li>
							<li><a href=""> Digital Services</a></li>
							<li><a href="">  Bulk Purchase</a></li>
						</div>
						<div class="foot4">
							<h2>Payment</h2>
	
							<li><a href=""> Wallet</a></li>
							<li><a href="">Verve</a></li>
							<li><a href="">Mastercard </a></li>
							<li><a href="">Visa </a></li>
						</div>
						<div class="footIcon">
	
							<h2>Social Media</h2>
							<a href=""><i class="fab fa-facebook-f"></i></a>
							<a href=""><i class="fab fa-instagram"></i></a>
							<a href=""><i class="fab fa-twitter"></i></a>
							<a href=""><i class="fab fa-whatsapp"></i></a>
						</div>
                        <div class="footer_last">
						<p>Copyright &copy 2021 Davinsoft. All rights reserved</p>
					</div>
                </div>
				</div>
	
			
			</footer>
				


            <script src=".././js/main.js"></script>
            <script src="../.././js/slider.js"></script>
            
            </body>
            </html>