
<div class="hot-deal">
    <h2>Hot deals
        <div class="line"></div>


        <div class="slider" id="slider">
            <div class="slide" id="slide">

             <div class="slide1">
                 <a href="">
                 <img class="item" src="https://ae01.alicdn.com/kf/H140aab3edae742e4b0310f570b8f3fd9v.jpg_220x220xz.jpg_.webp">

                 <div class="info">
                     <h2>Men Polo Men Shirt</h2>
                <p>&#8358; 2,500</p>
                
            </div>
            </a>
             </div>

             <div class="slide1">
                <a href="">

                 <img class="item" src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/85/405201/1.jpg?4727">
                 <div class="info">
                    <h2>Hp Deskjet printer</h2>
               <p>&#8358; 25,000</p>
               </div>
                 </a>

             </div>
             <div class="slide1">
                <a href="">
                 
                 <img class="item" src="https://ae01.alicdn.com/kf/H5a07f5ff8b02486482ef6d45d1d59980R.jpg_220x220xz.jpg_.webp">
                    <div class="info">
                        <h2>Men's Cycling Jersey</h2>
                        <p>&#8358; 7000</p>
                    </div>
                </a>
             </div>
             <div class="slide1">
                 <a href="">

                 <img class="item" src="https://ae01.alicdn.com/kf/Hbbe6449796fa4cb2aeb81bafc562ecdeZ.jpg_220x220xz.jpg_.webp">
                 <div class="info">
                    <h2>X6 Smart Wrist Watch</h2>
                    <p>&#8358; 9000</p>
                </div>
            </a>
             </div>
             <div class="slide1">
                 <a href="">

                 <img class="item" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/K/H/180812_1628338637.jpg">
                 <div class="info">
                    <h2>Plastic Baby Wardrobe</h2>
                    <p>&#8358; 14,000</p>
                </div>
                    </a>
             </div>
             <div class="slide1">
                 <a href="">

                 <img class="item" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/Y/D/86899_1537512868.jpg">
                 <div class="info">
                    <h2>wavefly white sofa </h2>
                    <p>&#8358; 120000</p>
                </div>
                    </a>
             </div>
             <div class="slide1">
                <a href="">
                 
                 <img class="item" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/Z/Q/174488_1593534009.jpg">
                 <div class="info">
                    <h2> Tiger Generator </h2>
                    <p>&#8358; 80000</p>
                </div>
                    </a>
             </div>
             <!-- <div class="slide1">
                <a href="">
                 
                 <img class="item" src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/23/728018/1.jpg?2187">
                 <div class="info">
                    <h2>Deep Freezer</h2>
                    <p>&#8358; 60000</p>
                </div>
                    </a>
             </div> -->
            
            </div>
            <button class="ctrl-btn pro-prev">Prev</button>
            <button class="ctrl-btn pro-next">Next</button>
          </div>
    </div>

    