<!-- <div class="container"> -->
    <div class="shipping_container">
        
                <div class="shi">
                        <i class=" fa fa-globe"></i>
                        <h2>Worldwide Delivery</h2>
                        <p>With sites in 5 languages, we ship to over 5 countries & regions.</p>
                    </div>
                    <div class="shi">
                        <i class="fas fa-user"></i>
                        <h2>Best Quality</h2>
                        <p>We are known for shipping quality foods.</p>
                        
                    </div>
                    <div class="shi">
                        <i class="fa fa-bell"></i>
                        <h2>Shop with Confidence</h2>
                        <p>Our Buyer Protection covers your purchase from click to delivery.</p>
                    </div>
                    <div class="shi">
                        <i class="fab fa-cc-paypal"></i>
                        <h2>Pecure Payment</h2>
                        <p>Pay with the world’s most popular and secure payment methods.</p>
                    </div>
    
        

      
    <!-- </div> -->
</div>