<div class="container">
    <div class="slide_container">
        <div class="slider">
      
            <div id="slider">
              <div id="line"> </div>
          
              <ul id="move">
                  <li><img src="../.././img/product/1.jpg"></li>
                  <li><img src="../.././img/product/2.jpg"></li>
                  <li><img src="../.././img/product/3.jpg"></li>
                  <li><img src="../.././img/product/4.jpg"></li>
                  <li><img src="../.././img/product/5.jpg"></li>
                  
                
              </ul>
              <div id="back">
                  <i class="fas fa-angle-left"></i>
              </div>
              <div id="forword">
                  <i class="fas fa-angle-right"></i>
                  
              </div>
              <div id="dots">
                  
              </div>
              
          </div>
      </div>
      
      
     
      </div>
    </div>
    
</div>