<section class="customer_support">
    
        <div class="support1">
            <div class="qq">
                 <i class="fa fa-envelope"></i>
               </div>
               
               <div class="qq22">
                    <h2>EMAIL SUPPORT</h2> 
                    <p>iam4emmax@gmail.com</p>
               </div>
        </div>
        <div class="support2">
                <div class="qq">
                        <i class="fa fa-phone"></i>
                      </div>
                      
                      <div class="qq22">
                           <h2>PHONE SUPPORT</h2> 
                           <p>09069003426, 08094605555</p>
                      </div>
        </div>
        <div class="support3">
                <div class="qq">
                        <i class="fa fa-user"></i>
                      </div>
                      
                      <div class="qq22">
                           <h2> GET LATEST DEALS</h2>
                          <p>  Our best promotions sent to your inbox.</p>
                      </div>
        </div>
        <div class="support4">
             
                       <input type="text" placeholder="Email Address">
                       <button type="submit">Subscribe</button>
        
    </div>
    
</section>
