.advert{
position: relative;
width: 90%;
margin: 0px auto;
height: 400px;
margin-top: 10px;
background-image: url("../../img/productImg-1632552362943IMG_20210711_135312_9.jpg");
background-size: 100%;
background-repeat: no-repeat;
// mix-blend-mode: color;


}