.hot-deal{
   @extend .featureCategory;
   h2{
       border-color: $primary;
   }
   

   .slider {
    width: 100%;
    height:300px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 2rem;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    position: relative;
    left: 0;
    transition: 0.3s left ease-in-out;
}
  
.slider div div{
    //   border: 2px solid #eee;
    margin: 10px;
    position: relative;
    width: 230px;


    img{
        width: 180px;
    }
    
    


    a   {
        text-decoration: none;
    }
    .info{
        position: relative;
        bottom: 0;
        height: 70px;
        
        h2{
            font-size: 14px;
            margin-top: -20px;
            color: #222;
        }
        p{
            font-size: 14px;
            margin-top: -20px;
            color: #222;
            opacity: .8;

        }
        
    }

    &:hover{
        transform: scale(.9);
    }
    
  }
  
  
  
  .ctrl {
    text-align: center;
    margin-top: 45px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: $primary;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;

  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
    color: #fff;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
    color: #fff;

  }
  
}
