.hot-deal{
   @extend .featureCategory;
   h2{
       border-color: $primary;
   }
   

   .slider {
    width: 100%;
    height:300px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 2rem;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    position: relative;
    left: 0;
    transition: 0.3s left ease-in-out;
}
  
.slider div div{
    //   border: 2px solid #eee;
    margin: 10px;
    position: relative;
    width: auto;


    img{
        width: 180px;
        // border: 2px solid red;


        @media screen and (max-width:768px) {
        // border: 2px solid rgb(7, 1, 58);
        width: 120px !important;
          
        }
    }
    
    


    a   {
        text-decoration: none;
    }
    .info{
        position: relative;
        bottom: 0;
        height: 70px;
        width: 100%;
        margin-left: 0 !important;
        text-align: center;

        
        h2{
            font-size: 14px;
            margin-top: -20px;
            color: #222;
            // border: 2px solid rgb(1, 138, 156);
            width: 100% !important;
          }
          p{
            font-size: 12px;
            margin-top: -20px;
            color: #222;
            opacity: .8;
            
          }
          
          @media screen and (max-width:768px) {
          padding-left: 0;
          a {
          
            text-align: center !important;
            margin: 0;
            padding: 0;
            width: 100%;
          }
          
          h2{
            font-size: 10px;
           
            
          }
          p{
            padding: 0;
          }
         
        }
        
    }

    &:hover{
        transform: scale(.9);
    }
    
  }
  
  
  
  .ctrl {
    text-align: center;
    margin-top: 45px;
  }
  
  .ctrl-btn {
    padding:10px;
    min-width: 40px;
    background: $primary;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;

  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
   
    text-align: center;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
    color: #fff;
    margin-left: -1rem;

    i{
      margin-right: -1rem;
      font-size: 20px;
    }
  }
  
  .ctrl-btn.pro-next {
    right: 0;
    color: #fff;
    margin-right: -1rem;
    @include flex;

    i{
      margin-left: -1rem;
      font-size: 20px;

    }
  }
  
}
