<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="./../.././css/pages/authe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="success_container">
        <div class="container bg-light p-5 success">
            <p> Registration Successful <br> you will be redirected to login page shortly</p>
            <div class="check">
                <i class="fa fa-check"></i>
            </div>
           <div class="counter"></div>
        </div>
    </div>
   

    <script>
        const counter = document.querySelector(".counter")
        const check = document.querySelector(".fa-check")
        
        let countdown = 10
        window.addEventListener("load", (e)=>{
            
          setInterval(()=>{
              check.classList.add("no")
            counter.innerHTML = countdown--
           if(countdown == 0 ){
            window.location.replace("/user/login")
           }
          }, 1000)
        })
    </script>
</body>
</html>