@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-dark {
  color: #131921;
}

.bg-dark {
  background-color: #131921;
}

.btn-dark {
  background-color: #131921;
}

.text-primary_light {
  color: #286076;
}

.bg-primary_light {
  background-color: #286076;
}

.btn-primary_light {
  background-color: #286076;
}

.text-secondary {
  color: #e28904;
}

.bg-secondary {
  background-color: #e28904;
}

.btn-secondary {
  background-color: #e28904;
}

.text-accent {
  color: #232f3e;
}

.bg-accent {
  background-color: #232f3e;
}

.btn-accent {
  background-color: #232f3e;
}

.text-secondary-deep {
  color: #f68b1e;
}

.bg-secondary-deep {
  background-color: #f68b1e;
}

.btn-secondary-deep {
  background-color: #f68b1e;
}

.text-light {
  color: #fff;
}

.bg-light {
  background-color: #fff;
}

.btn-light {
  background-color: #fff;
}

.text-logo {
  color: #cd0491;
}

.bg-logo {
  background-color: #cd0491;
}

.btn-logo {
  background-color: #cd0491;
}

.text-danger {
  color: #9b0808;
}

.bg-danger {
  background-color: #9b0808;
}

.btn-danger {
  background-color: #9b0808;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-g {
  display: grid;
}

.display-i-b {
  display: inline-block;
}

.td-n {
  text-decoration: none;
}

.td-u {
  text-decoration: underline;
}

.td-o {
  text-decoration: overline;
}

.td-s {
  text-decoration: solid;
}

.td-w {
  text-decoration: wavy;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-inherit {
  align-items: inherit;
}

.align-stretch {
  align-items: stretch;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.btn {
  padding: 10px 20px;
  color: #eee;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 20px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 5px;
}

.gap-1 {
  margin-left: -5px;
  margin-right: -5px;
}

.gap-2 > * {
  padding: 10px;
}

.gap-2 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-3 > * {
  padding: 15px;
}

.gap-3 {
  margin-left: -15px;
  margin-right: -15px;
}

.gap-4 > * {
  padding: 20px;
}

.gap-4 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-5 > * {
  padding: 25px;
}

.gap-5 {
  margin-left: -25px;
  margin-right: -25px;
}

.gap-6 > * {
  padding: 30px;
}

.gap-6 {
  margin-left: -30px;
  margin-right: -30px;
}

.gap-7 > * {
  padding: 35px;
}

.gap-7 {
  margin-left: -35px;
  margin-right: -35px;
}

.gap-8 > * {
  padding: 40px;
}

.gap-8 {
  margin-left: -40px;
  margin-right: -40px;
}

.gap-9 > * {
  padding: 45px;
}

.gap-9 {
  margin-left: -45px;
  margin-right: -45px;
}

.gap-10 > * {
  padding: 50px;
}

.gap-10 {
  margin-left: -50px;
  margin-right: -50px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: #286076;
}

.header {
  background-color: #131921;
  position: relative;
  height: 70px;
  position: relative;
  width: 100%;
  padding: 3px;
}
.header nav {
  display: flex;
  position: relative;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.header .logo {
  position: relative;
  margin-left: 1rem;
  width: 200px !important;
  padding: 5px;
  margin-top: 5px;
}
.header .logo img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 2px;
}
.header .logo h1, .header .logo a {
  font-family: "Roboto", sans-serif;
  color: #eee;
  text-decoration: none;
  font-size: 16px;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .header .logo {
    margin-left: 0;
  }
  .header .logo h1 {
    margin-left: 2rem;
  }
  .header .logo img {
    left: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .header .logo {
    margin-left: -16px;
  }
}
.header li {
  list-style: none;
}
.header ul {
  position: fixed;
  inset: 0;
  background-color: #232f3e;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 55px;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 15;
}
.header ul i {
  margin-right: 1rem;
  opacity: 0.5;
}
@media screen and (min-width: 1000px) {
  .header ul {
    position: absolute;
    transform: translateX(0);
    height: 91vh;
    top: 67px;
    margin-left: 5px;
  }
}
.header ul a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #eee;
  font-size: 14px;
  margin-left: 1rem;
  text-transform: capitalize;
  font-weight: 400;
}
.header ul a:hover {
  color: #e28904;
}
.header ul .remove {
  position: absolute;
  right: 0.2rem;
  font-size: 40px;
  color: #eee;
  top: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .header ul .remove {
    display: none;
  }
}
.header .left_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header .left_nav {
    width: 30%;
    padding-left: 10px;
  }
}
.header .left_nav .menu {
  cursor: pointer;
}
.header .left_nav .menu i {
  font-size: 18px;
  color: #eee;
}
@media screen and (min-width: 1000px) {
  .header .left_nav .menu {
    display: none;
  }
}
.header .right_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header .right_nav {
    width: 20%;
    order: 3;
  }
}
.header .right_nav i {
  color: #eee;
  margin: 10px;
}
.header .show {
  transform: translateX(0) !important;
}
.header .search {
  width: 100%;
  margin-top: 3px;
  max-width: 100%;
  position: relative;
  display: none;
}
.header .search input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  max-width: 100%;
}
.header .search button {
  width: 10%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #e28904;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 769px) {
  .header .search {
    transform: translate(55%, -2%);
    display: inline;
    right: 30%;
    width: 50%;
    z-index: 3;
  }
}

.UserInfo {
  position: absolute;
  right: 2rem;
  background-color: #eee;
  padding: 0px;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.3);
  top: 60px;
  z-index: 11;
  transform: scale(0);
  transition: transform 0.5 ease-in;
}
.UserInfo li {
  list-style: none;
  padding-left: 10px;
}
.UserInfo li:hover {
  background-color: #e28904;
  padding: 7px 10px;
}
.UserInfo li a {
  color: #222;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  line-height: 35px;
}
.UserInfo p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 5px;
}
.UserInfo .btn-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
}
.UserInfo .btn-info .join {
  padding: 3px 12px;
  background-color: #e28904;
  transition: background 0.5 ease;
}
.UserInfo .btn-info .join a {
  color: #eee;
}
.UserInfo .btn-info .join:hover {
  background-color: #fba21e;
}
.UserInfo .btn-info .signin {
  background-color: #f3d09b;
  padding: 3px 12px;
  transition: background 0.5 ease;
}
.UserInfo .btn-info .signin:hover {
  background-color: #e8a540;
}

.showUserInfo {
  transform: scale(1);
}

.removeOnClick {
  position: fixed;
  width: 100%;
  border: 2px solid red;
  height: 100vh;
  z-index: 9;
  inset: 0;
  display: none !important;
}

.showremove {
  display: block !important;
}

.slide_container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.slider {
  position: relative;
  height: 60.7vh;
  width: 100%;
}
.slider #slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.slider #slider i {
  font-size: 60px !important;
}
.slider #slider #line {
  height: 5px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slider #slider #dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  display: flex;
  justify-content: center;
}
.slider #slider #dots li {
  transition: 0.3s;
  list-style-type: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 0.25em;
  cursor: pointer;
}
.slider #slider #dots li:hover,
.slider #slider #dots li.active {
  background: white;
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.slider #slider #back,
.slider #slider #forword {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#bfffffff", endColorstr="#00ffffff",GradientType=1 );
}
.slider #slider #forword {
  left: auto;
  right: 0px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#bfffffff",GradientType=1 );
}
.slider #slider:hover #back,
.slider #slider:hover #forword {
  opacity: 0.7;
}
.slider ul#move {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  background: #001033;
  margin-right: 100%;
  height: 100%;
}
.slider ul#move li {
  transition: 0.6s;
  min-width: 100%;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider ul#move li img {
  width: 100%;
  object-fit: inherit;
  height: 100% !important;
}
.slider ul#move li:nth-child(1) {
  background: #657765;
}
.slider ul#move li:nth-child(2) {
  background: #456174;
}
.slider ul#move li:nth-child(3) {
  background: #984;
}
.slider ul#move li:nth-child(4) {
  background: #445566;
}
.slider ul#move li:nth-child(5) {
  background: #744674;
}
@media screen and (min-width: 1000px) {
  .slider {
    margin-left: 19rem;
    width: 78%;
    height: 91.8vh;
  }
}
@media screen and (min-width: 1250px) {
  .slider {
    right: 0;
    width: 73%;
    height: 90.8vh;
  }
}
@media screen and (min-width: 1400px) {
  .slider {
    right: 0;
    width: 77%;
  }
}

.featureCategory, .hot-deal {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: auto;
  text-align: center;
  background: #fff;
  margin-top: 10px;
  justify-content: center;
  overflow: hidden;
}
.featureCategory h2, .hot-deal h2 {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
}
.featureCategory .line, .hot-deal .line {
  position: absolute;
  left: 50%;
  border-bottom: 2px solid #e28904;
  width: 100px;
  top: 4.8rem;
  transform: translate(-50%, -50%);
}
.featureCategory .line::after, .hot-deal .line::after {
  position: absolute;
  width: 40%;
  content: "";
  border-bottom: 8px solid #e28904;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -40%);
}
.featureCategory .feature-container, .hot-deal .feature-container {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
@media screen and (max-width: 768px) {
  .featureCategory .feature-container, .hot-deal .feature-container {
    height: auto;
    width: 100%;
  }
}
.featureCategory .feature-container div, .hot-deal .feature-container div {
  width: 150px;
  height: 160px;
  margin: 10px;
  padding: 5px;
  transition: box-shadow 0.2s ease;
}
.featureCategory .feature-container div:hover, .hot-deal .feature-container div:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
}
.featureCategory .feature-container div img, .hot-deal .feature-container div img {
  height: 100px;
}
.featureCategory .feature-container div a, .hot-deal .feature-container div a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.featureCategory .feature-container div p, .hot-deal .feature-container div p {
  margin-top: 15px;
}
@media screen and (max-width: 1000px) {
  .featureCategory .feature-container div, .hot-deal .feature-container div {
    width: 80px;
    height: 120px;
    padding: 5px;
  }
  .featureCategory .feature-container div:hover, .hot-deal .feature-container div:hover {
    box-shadow: none !important;
    transform: scale(0.9);
  }
  .featureCategory .feature-container div img, .hot-deal .feature-container div img {
    width: 70px;
    height: 70px;
  }
  .featureCategory .feature-container div a, .hot-deal .feature-container div a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .featureCategory, .hot-deal {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
}

.hot-deal h2 {
  border-color: #131921;
}
.hot-deal .slider {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 2rem;
}
.hot-deal .slider::-webkit-scrollbar {
  display: none;
}
.hot-deal .slider .slide {
  display: flex;
  position: relative;
  left: 0;
  transition: 0.3s left ease-in-out;
}
.hot-deal .slider div div {
  margin: 10px;
  position: relative;
  width: 230px;
}
.hot-deal .slider div div img {
  width: 180px;
}
.hot-deal .slider div div a {
  text-decoration: none;
}
.hot-deal .slider div div .info {
  position: relative;
  bottom: 0;
  height: 70px;
}
.hot-deal .slider div div .info h2 {
  font-size: 14px;
  margin-top: -20px;
  color: #222;
}
.hot-deal .slider div div .info p {
  font-size: 14px;
  margin-top: -20px;
  color: #222;
  opacity: 0.8;
}
.hot-deal .slider div div:hover {
  transform: scale(0.9);
}
.hot-deal .ctrl {
  text-align: center;
  margin-top: 45px;
}
.hot-deal .ctrl-btn {
  padding: 10px;
  min-width: 40px;
  background: #131921;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
  margin-left: -0.5rem;
  text-align: center;
}
.hot-deal .ctrl-btn.pro-prev {
  left: 0;
  color: #fff;
  margin-left: -1rem;
}
.hot-deal .ctrl-btn.pro-prev i {
  margin-right: -1rem;
  font-size: 20px;
}
.hot-deal .ctrl-btn.pro-next {
  right: 0;
  color: #fff;
  margin-right: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.hot-deal .ctrl-btn.pro-next i {
  margin-left: -1rem;
  font-size: 20px;
}

.advert {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: 400px;
  margin-top: 10px;
  background-image: url("../../img/product/2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.advert::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  inset: 0;
  background-color: #131921;
  opacity: 0.9;
}
.advert div {
  width: 24%;
  height: 100%;
  margin: 10px;
  z-index: 7;
}
@media screen and (max-width: 1300px) {
  .advert div {
    width: 35%;
  }
}
.advert .advert_middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: flex-start;
  flex: 1.8;
}
.advert .advert_middle h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 10px;
}
.advert .advert_middle p {
  font-size: 16px;
  color: #eee;
  line-height: 35px;
  opacity: 0.6;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  width: 98%;
}
.advert .advert_middle button {
  border: none;
  display: block;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  background-color: #e28904;
  margin-left: 10px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
.advert .advert_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-items: center;
}
.advert .advert_left img {
  width: 370px;
  margin-top: -20px;
}
@media screen and (max-width: 768px) {
  .advert .advert_left {
    display: none;
  }
}
.advert .advert_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-items: center;
}
.advert .advert_right img {
  width: 370px;
  margin-top: -20px;
}
@media screen and (max-width: 1300px) {
  .advert .advert_right {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .advert {
    width: 100%;
    height: auto;
  }
  .advert button {
    margin-bottom: 3rem;
  }
}

.mostPopular {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.mostPopular .line {
  position: absolute;
  margin-bottom: 3rem;
  left: 50%;
  border-bottom: 2px solid #e28904;
  width: 100px;
  top: 4.8rem;
  transform: translate(-50%, -50%);
}
.mostPopular .line::after {
  position: absolute;
  width: 40%;
  content: "";
  border-bottom: 8px solid #e28904;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -40%);
}
.mostPopular #mostPopular-h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .mostPopular {
    width: 100%;
  }
}
.mostPopular .categories {
  display: flex;
  position: absolute;
  top: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex-flow: row wrap;
}
.mostPopular .categories div {
  margin: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.mostPopular .categories .active {
  background-color: #e28904;
  padding: 8px 15px;
  color: #ece6e6;
  border-radius: 4;
}
.mostPopular .add-con {
  position: relative;
  top: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-flow: row wrap;
}
.mostPopular .add-con > div {
  height: 330px;
  background-color: #f3f3f3;
}
.mostPopular .add-con > div .img-responsive {
  height: 200px;
  width: 100%;
  background-color: unset;
}
.mostPopular .add-con > div .img-responsive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mostPopular .add-con > div a {
  text-decoration: none;
  color: #222;
}
.mostPopular .add-con > div h2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 5px 0px;
}
.mostPopular .add-con > div h2::first-letter {
  text-transform: uppercase;
}
.mostPopular .add-con > div p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 5px 0px;
}
.mostPopular .add-con > div button {
  background-color: #b06b03;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 100%) {
  .mostPopular .add-con {
    width: 100%;
    max-width: 100%;
  }
}